# Flutter & Dart
/build/
/.dart_tool/
/.packages
.pub/
/.idea/
/*.iml
/pubspec.lock
*.log
*.snap

# Android
/android/app/build/
/android/.gradle/
/*.apk
/android/**/*.so

# iOS
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Runner/GeneratedPluginRegistrant.*

# VSCode
.vscode/

# Environment files
*.env
